<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sodevan.lafly">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AnswerScreen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".QuestionScreen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddQues"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".addNewEvent"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Event_father"
            android:theme="@style/AppTheme" />

        <service
            android:name=".HUD"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ConfigureLalife"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Addhelper"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".Info_father"
            android:theme="@style/AppTheme"/>


    </application>

</manifest>